@import 'tailwindcss';

@theme {
	--color-background: var(--color-zinc-50);
	--color-foreground: var(--color-zinc-900);
	--color-muted: var(--color-zinc-500);

	--color-accent: var(--color-cyan-600);

	--font-geist: 'Geist', sans-serif;
}

.dark {
	--color-background: var(--color-zinc-900);
	--color-foreground: var(--color-zinc-50);

	--color-accent: var(--color-cyan-500);
}

html {
	width: 100%;
}

body {
	@apply bg-background text-foreground/90 font-geist;

	min-height: 100vh;
	min-height: 100dvh;
	min-width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

a.accent {
	@apply text-accent hover:text-accent/80 underline underline-offset-2;
}

a.muted {
	@apply text-muted hover:text-accent/80 underline underline-offset-2;
}
